<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ADD_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Client"
            tools:targetApi="31"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".auth.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".auth.AuthenticatorActivity"
                android:exported="true">
        </activity>

        <service
                android:name=".auth.AuthenticatorActivity"
                android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <activity
                android:name=".entry.SignInActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".entry.SignUpActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".profile.ProfileActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.DeadlinesActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".utility.DrawerBaseActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.GroupSelectMenuActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.GroupCreateActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.GroupActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.InvitesActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".groups.GroupEnterActivity"
                android:exported="true">
        </activity>
        <activity android:name=".chapters.ChapterUploadActivity"
                  android:exported="false">
        </activity>
        <activity android:name=".chapters.CreateTestActivity"
                  android:exported="false">
        </activity>
        <activity android:name=".chapters.QuestionActivity"
                  android:exported="true">
        </activity>
        <activity android:name=".chapters.ReadingChapterActivity"
                  android:exported="true">
        </activity>
        <activity android:name=".chapters.TestActivity"
                  android:exported="true">
        </activity>
    </application>

</manifest>